bin/
obj/
input/
output/

*.userprefs
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mdb
*.mdw

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
